comment "MCU Task configure"

config MULTITHREADING
    bool
    default n

choice
    prompt "CPU Endian"
config LITTLE_ENDIAN
    bool "Little Endian"
config BIG_ENDIAN
    bool "Big Endian"
endchoice

source "$BOARD_DIR/Kconfig"
rsource "rtos/Kconfig"
rsource "subsys/Kconfig"
rsource "base/Kconfig"
rsource "board/shared/Kconfig"
rsource "Kconfig.compile"

config MAIN_THREAD_PRIO
    int "The priority of main thread"
    default 20

config MAIN_THREAD_STACK_SIZE   
    int "The stack size of main thread"
    default 2048
