
rsource "rtos/Kconfig"
rsource "board/shared/Kconfig"
rsource "subsys/Kconfig"
rsource "base/Kconfig"


config MAIN_THREAD_PRIO
    int "The priority of main thread"
    default 20

config MAIN_THREAD_STACK_SIZE   
    int "The stack size of main thread"
    default 2048


rsource "Kconfig.compile"
