# ThreadX
CONFIG_TX_MAX_PRIORITIES=32
CONFIG_TX_MINIMUM_STACK=1024
#CONFIG_TX_TIMER_THREAD_STACK_SIZE=4096
CONFIG_TX_TIMER_THREAD_PRIORITY=10
CONFIG_TX_TIMER_TICKS_PER_SECOND=1000
CONFIG_TX_REACTIVATE_INLINE=y
CONFIG_TX_DISABLE_REDUNDANT_CLEARING=y
CONFIG_TX_INLINE_THREAD_RESUME_SUSPEND=y

# FileX
CONFIG_FILEX=y
CONFIG_FX_FAT_MAP_SIZE=256
CONFIG_FX_MAX_FAT_CACHE=32
CONFIG_FX_DISABLE_ERROR_CHECKING=y

# Command Line
CONFIG_SUBSYS_SDIO=y

# UART
CONFIG_SERIAL=y
CONFIG_UART_USE_RUNTIME_CONFIGURE=y
CONFIG_UART_INTERRUPT_DRIVEN=y

# Shell
CONFIG_SHELL=y
CONFIG_SHELL_DEVICE="uart1"

