config KMALLOC
    bool "Enable kernel malloc"
    default y

config MALLOC
    bool "Enable general malloc"
    default n

config CPLUSPLUS
    bool "Enable C++ language support"
    default n

config HRTIMER
    bool "Enable high resolution timer"
    default n

config TASK_RUNNER
    bool "Enable task runner queue"
    default y

