


rsource "kconfig/Kconfig"

menu "Board Shared library"

config CACHE_MANAGEMENT
    bool

config SIMULATOR
    bool

config ARM
    bool

config DCACHE
    bool "Enable cpu data cache"
    select CACHE_MANAGEMENT
    default n

config ICACHE
    bool "Enable cpu instruction cache"
    select CACHE_MANAGEMENT
    default n

config MAX_IRQ_VECTOR
    int "Maximum irq vectors"
    default 150

config ISR_STACK_SIZE
    int "Interrupt stack size"
    default 4096

config CPU_CACHELINE_SIZE
    int "CPU cache line size"
    default 32

config CFILE
    bool "Enable C standard file implement"
    default n

config FILE_DESC_MAX
    int "The maximum number of file descriptor"
    default 3

config KMALLOC_POOL_SIZE
    int "The size of kmalloc byte pool"
    default 2048

config GMALLOC_POOL_SIZE
    int "The size general malloc byte pool"
    default 0

config CPLUSPLUS
    bool "Enable C++ language support"
    default n

config HRTIMER
    bool "Enable high resolution timer"
    default n

config TASK_RUNNER
    bool "Enable task runner queue"
    default y

rsource "cortexm/Kconfig"
endmenu
