


rsource "kconfig/Kconfig"

menu "Board Shared library"

config MAX_IRQ_VECTOR
    int "Maximum irq vectors"
    default 150

config ISR_STACK_SIZE
    int "Interrupt stack size"
    default 4096

config CFILE
    bool "Enable C standard file implement"
    default n

config FILE_DESC_MAX
    int "The maximum number of file descriptor"
    default 3

config KMALLOC
    bool "Enable kernel malloc"
    default y

config MALLOC
    bool "Enable general malloc"
    default n

config CPLUSPLUS
    bool "Enable C++ language support"
    default n

config HRTIMER
    bool "Enable high resolution timer"
    default n

config TASK_RUNNER
    bool "Enable task runner queue"
    default y

rsource "cortexm/Kconfig"
endmenu
