# Shell configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config MEMORY_SHELL
	bool "Memory access shell"
	default y if !SHELL_MINIMAL
	help
	  This shell provides access to basic device data.

