menu "Base library"

config ASSERT_DISABLE
    bool "Disable Assert"
    default n

config HFSM_SUPPORT
    bool "Enable hierarchical support for FSM"
    default n

config SMALL_MEM_MODEL
    bool "Enable small memory model"
    default n

config FTRACE
    bool "Enable function trace"

rsource "sys/Kconfig"
rsource "lib/Kconfig"

endmenu

